@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* GLOBAL */
:root {
  --blue-500: #364692;
  --blue-900: #171d3d;
  --yellow-500: rgb(255, 204, 86);
  --lightgray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  font-family: "Nunito", Helvetica, sans-serif;
  color: var(--blue-500);
}

body {
  display: flex;
  flex-direction: column;
  height: 95dvh;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

a {
  text-decoration: inherit;
}

/* HEADER */
header {
  width: 70dvw;
  margin: auto;
}

.branding {
  display: flex;
  align-items: center;
}

.branding h2 {
  color: var(--yellow-500);
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1;
  margin-left: -20px;
}

h2>.smaller {
  color: var(--blue-900);
  font-weight: 600;
  font-size: 1.25rem;
}

.logo>img {
  width: 80px;
  height: auto;
}

/* MAIN */
main {
  flex: 1;
  height: 75dvh;
  width: 70dvw;
  padding: 100px 24px;
  margin: auto;

  /* grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 48px;
  align-items: start;
}

/* MAIN - LEFT SIDE */
.text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  text-wrap: pretty;
}

hgroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  font-size: 1.75rem;
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
}

p {
  color: black;
  line-height: 1.75;
  font-size: 1.2rem;
}

button {
  background-color: var(--blue-900);
  color: white;
  padding: 16px 32px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  transition: background-color 0.1s;

  /* normalising */
  font-family: inherit;
  outline: none;
  border: none;
  cursor: pointer;

  /* colour variables */
  --hover-colour: #364692;
  --click-colour: #263268;
}

button:hover {
  background-color: var(--hover-colour);
}

button:active {
  background-color: var(--click-colour);
}

/* MAIN - RIGHT SIDE */
main>figure {
  justify-self: end;
}

main img {
  height: 85%;
}

/* DIALOG */
dialog {
  overflow: hidden;
  border: 3px var(--blue-500) solid;
  border-radius: 8px;
  width: min(750px, 100dvw);
  height: min(800px, 100dvh);
  margin: auto;
  padding: 12px;
}

#google-forms {
  width: 100%;
  height: 100%;
  border: none;
}